# You can configure your scheduler in either <quartz> configuration section
# or in quartz properties file
# Configuration section has precedence

quartz.scheduler.instanceName = OlliixProductServiceScheduler

# Job Store
quartz.jobStore.type = Quartz.Impl.AdoJobStore.JobStoreTX, Quartz
quartz.jobStore.driverDelegateType = Quartz.Impl.AdoJobStore.SqlServerDelegate, Quartz
quartz.jobStore.tablePrefix = QRTZ_
quartz.jobStore.useProperties = true
quartz.jobStore.dataSource = default
quartz.dataSource.default.provider = SqlServer
quartz.dataSource.default.connectionString = Server=192.168.188.199;Database=Quartz;Uid=sa;Pwd=Famous901;

# Serializer
quartz.serializer.type = json